{% import_yaml 'graphite/defaults.yaml' as defs %}

{% set settings = salt['grains'].filter_by(
    defs,
    base='default',
    merge=salt['pillar.get']('graphite:lookup')
) %}

{% do settings.update({
    'conf_dir': salt['file.join'](settings['home'], "conf"),
}) %}
