[Unit]
Description=Graphite Carbon {{ daemon|capitalize }}
After=syslog.target network.target

{% set DAEMON = settings['home'] + "/bin/carbon-" + daemon + ".py" -%}
{% set RUNDIR = "graphite-carbon-" + daemon -%}
{% set PIDFILE = "/run/" + RUNDIR + "/carbon-" + daemon + ".pid" -%}

[Service]
Type=forking
User={{ settings.user }}
Group={{ settings.group }}
ExecStart={{ DAEMON }} --pidfile {{ PIDFILE }} start
ExecStop={{ DAEMON }} --pidfile {{ PIDFILE }} stop
RuntimeDirectory={{ RUNDIR }}
PIDFile={{ PIDFILE }}
PrivateTmp=true
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
